.form {
  width: 90%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form input {
  background-color: var(--deep-sea-green);
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 0.625rem;
  background-color: var(--light-sea-green);
  color: var(--dark-charcoal);
  flex: 1;
}

.form input::placeholder {
  color: var(--dark-charcoal);
}

.form button {
  padding: 0.625rem;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  min-width: 100px;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  cursor: pointer;
  background-color: var(--aquamarine);
  color: var(--dark-charcoal);
  width: 100%;
  font-weight: 600;
}

.form button:hover {
  background-color: var(--deep-sea-green);
  color: white;
}

@media (min-width: 48em) {
  .form {
    flex-direction: row;
    gap: 0;
  }

  .form input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .form button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 20%;
  }
}
