:root {
  --dark-charcoal: #1a1a1a; /* Carvão Escuro */
  --charcoal: #262626; /* Carvão */
  --deep-sea-green: #005c5c; /* Verde Mar Profundo */
  --light-sea-green: #7b9090; /* Verde Mar Claro */
  --neon-green: #00ff00; /* Verde Neon */
  --aquamarine: #7fffd4;
  --red: #ff0000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
div {
  font-size: inherit;
  font-weight: normal;
  text-wrap: balance;
  text-size-adjust: auto;
  overflow-wrap: break-word;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: inherit;
}

iframe {
  border: 0;
}

address {
  font: inherit;
}
