.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding-block: 2rem;
  min-height: 100vh;
  background-color: var(--black);
}

.main h1,
.main p {
  color: white;
}
