.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding-block: 2rem;
  min-height: 100vh;
  background-color: var(--dark-charcoal);
  color: white;
}

.main h1 {
  font-size: 1.3rem;
  font-weight: 600;
}

.count_tasks {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 50rem;
}

.count_tasks p {
  font: 0.75rem;
  font-weight: 600;
}

.count_tasks span {
  background-color: var(--charcoal);
  padding: 2px 5px;
  border-radius: 40%;
}
